# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode

# vs
*.user

# vim
*.swo
*.swp

# macos
.DS_Store

# Visual Studio
out
.vs
CMakePresets.json
CMakeUserPresets.json
CMakeSettings.json

# build path
bin
build

# Depend
deps/*
!deps/CMakeLists.txt
vcpkg_installed

# Directory
build
bin